.facilityRegistryLayout {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 5%;
  width: 90%;
  margin-top:50px;
  margin-right: 5%;
  margin-right: 10%;
  padding: 15px 15px;
  background-color: #fff;
  row-gap: 10px;
}
.facilityFiltersLayout {
  display: flex;
  flex-direction: row;
  column-gap: 10px;
  width: 100%;
}
.filterItem {
  width: 30%;
}
.searchBtnContainer {
  display: flex;
  flex-direction: column;
  padding-top: 20px;
}