.hwrLayout{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 5px 5px;
    background: #FFF;
    row-gap: 10px;
}
.filtersRow{
    display: flex;
    flex-direction: row;
    column-gap: 15px;
    justify-content: flex-end;
}
.filter{
    width: 30%;
    padding: 10px 10px;
}